<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RecordPro.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <RecordPro.MainSettings>
            <setting name="ShowDayPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThemeName" serializeAs="String">
                <value/>
            </setting>
            <setting name="ThemeLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowBackupReminder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopulatePreviousData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviousUserMode" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="PreviousCourseMode" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="EnableSpellChecking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSpellingReminder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddRecordLeftLocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AddRecordTopLocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileLocation" serializeAs="String">
                <value/>
            </setting>
        </RecordPro.MainSettings>
    </userSettings>
</configuration>
